section#hero {

	

	background: #e6e6e6; /* Old browsers */
	background: -moz-linear-gradient(top,  #e6e6e6 11%, #bcbbbb 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(11%,#e6e6e6), color-stop(100%,#bcbbbb)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #e6e6e6 11%,#bcbbbb 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #e6e6e6 11%,#bcbbbb 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #e6e6e6 11%,#bcbbbb 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #e6e6e6 11%,#bcbbbb 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#bcbbbb',GradientType=0 ); /* IE6-9 */

	
	img#logo {
		
		width: 70%;
		margin: 0 15%;
		
	}	
	
	#bgvid {
		position: fixed; right: 0; bottom: 0;
		min-width: 100%; min-height: 100%;
		width: auto; height: auto; z-index: -100;
		background: url(polina.jpg) no-repeat;
		background-size: cover;
	}
	
}

