section#team {
	
	ul {
		
		margin: 0;
		padding: 0;
		list-style: none;
		margin-bottom: 20px;
		
		li {
			
			position: relative;
			
			height: 100px;
			margin-bottom: 20px;
			padding: 10px 10px 10px 120px;
			
			.profile {
				
				position: absolute;
				left: 0;
				
				
				width: 100px;
				border-radius: 50px;
				height: auto;
				
				
				
			}
			
			h4 { margin: 0; }
		
		}
		
	}
	
}