section#team {
	
	background: rgba(255,0,0,0.3);
	
	ul {
		
		margin: 0;
		padding: 0;
		list-style: none;
		
		li {
			
		background: red;
		width: 50%;
		float: left;
		
		}
		
	}
	
	ul:after {
		
		content: "";
		display: none;
		clear: both;
		
	}
	
	
	
}