@media screen and (max-width:650px) {
	
	body {border-top: 20px solid red;}
	
	header {
		
		h1,
		nav#social,
		nav#master {
			
			float: none;
			width: 100%;
			text-align: center;

			a {
				
				float: none;				
				width: 45px;
				height: 10px;
				margin: 0 10px;
				
			}
			
		}
		
		nav#social {
		
			padding-top: 7px;
			margin-bottom: 20px;
			
		}
		
	}

	
	section { .col1, .col2 { padding: 0 10px; float: none; width: 100%; } }
		section { padding: 0 10px; }
		
}