header {
	
	margin: 0;
	margin-bottom: 30px;
	
	position: relative;
	z-index: 10000;
	

	
	background: #1A1D1E;
	color: #CDDBD8;
	padding: 10px;
	
	nav {
		
		min-height: 40px;
		
		a {
			
			font-weight: bold;
			color: white;
			text-decoration: none;
			
			-webkit-transition: color 0.4s ease;
			
		}
		
		a:hover {
			
			color: $colour_Highlight_Green;
			
		}
		
	}
	
	h1,
	nav#master,
	nav#social { float: left; }
	
	h1 {
		
		line-height: 40px;
		font-weight: 400;
		width: 20%;
		margin: 0;
		color: white;
	}
	
	#bird {
		
		position: absolute;
		left: 0;
		
	}
	
	.highlight {
		
		color: $colour_Highlight_Green;
		
	}
	
	nav#master {
		
		width: 40%;
		
		a {
			
			line-height: 40px;
			margin-right: 10px;
			
		}
		
		a.active { color: $colour_Highlight_Green;}
		
	}
	
	nav#social {
		
		width: 40%;
		height: 40px;
		
		a {
			
			float: right;
			display: inline-block;
			width: 30px;
			margin-top: 5px;
			margin-left: 20px;

			
		}
		
	}
	
	-webkit-transition: margin 1s ease;
	
}

header:after {
	
	content: "";
	display: block;
	clear: both;
	
}