header {
	
	margin: 0;
	position: relative;
	z-index: 10000;
	// background: #1A1D1E;
	background: white;
	color: #CDDBD8;
	padding: 10px;
	
	border-bottom: 1px solid #ccc;
	
	nav {
		
		min-height: 40px;
		
		a {
			
			font-weight: bold;
			color: $colour_Highlight_Green;
			text-decoration: none;
					
		}
		
	}
	
	h1,
	nav#master,
	nav#social { float: left; }
	
	#bird {
		
		position: absolute;
		left: 0;
		
	}
	
	.highlight {
		
		color: $colour_Highlight_Green;
		
	}
	
	nav#master {
		
		width: 60%;
		
		a {
			
			line-height: 40px;
			margin-right: 10px;
			
		}
		
		a.active { color: $colour_Highlight_Green;}
		
	}
	
	nav#social {
		
		width: 40%;
		height: 40px;
		
		a {
			
			float: right;
			display: inline-block;
			width: 30px;
			margin-top: 5px;
			margin-left: 20px;

			
		}
		
	}
	
	-webkit-transition: margin 1s ease;
	
}

header:after {
	
	content: "";
	display: block;
	clear: both;
	
}