/**
 * Main.scss File
 * ---
 * Imports other partials.
 */
/* Functions SCSS File */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  background: #ECECEC;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: 14px; }
  html p,
  body p {
    line-height: 1.6em;
    margin-bottom: 5px; }

.wrapper {
  position: relative;
  max-width: 1080px;
  margin: 0 auto; }

.wrapper:after {
  content: "";
  display: block;
  clear: both; }

h1,
h2,
h3,
h4 {
  color: #a9c322; }

.outer_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.05); }

section .col1,
section .col2,
footer .col1,
footer .col2 {
  float: left;
  width: 50%;
  padding: 0 20px; }

section:after {
  content: "";
  display: block;
  clear: both; }

section {
  padding: 0 30px; }

header {
  margin: 0;
  position: relative;
  z-index: 10000;
  background: white;
  color: #CDDBD8;
  padding: 10px;
  border-bottom: 1px solid #ccc;
  -webkit-transition: margin 1s ease; }
  header nav {
    min-height: 40px; }
    header nav a {
      font-weight: bold;
      color: #a9c322;
      text-decoration: none; }
  header h1,
  header nav#master,
  header nav#social {
    float: left; }
  header #bird {
    position: absolute;
    left: 0; }
  header .highlight {
    color: #a9c322; }
  header nav#master {
    width: 60%; }
    header nav#master a {
      line-height: 40px;
      margin-right: 10px; }
    header nav#master a.active {
      color: #a9c322; }
  header nav#social {
    width: 40%;
    height: 40px; }
    header nav#social a {
      float: right;
      display: inline-block;
      width: 30px;
      margin-top: 5px;
      margin-left: 20px; }

header:after {
  content: "";
  display: block;
  clear: both; }

footer {
  padding: 30px 0;
  background: #a9c322; }
  footer p {
    margin: 0;
    color: #CDDBD8; }
  footer form h1,
  footer form h2,
  footer form h3,
  footer form h4,
  footer form h5 {
    color: white; }
  footer form * {
    -webkit-appearance: none; }
  footer form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    color: white; }
  footer form input,
  footer form textarea {
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px;
    margin-bottom: 10px;
    padding: 6px 5px;
    width: 100%;
    font-size: 16px;
    color: white;
    background: white; }
  footer form textarea {
    resize: vertical; }

section#hero {
  background: #e6e6e6;
  /* Old browsers */
  background: -moz-linear-gradient(top, #e6e6e6 11%, #bcbbbb 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(11%, #e6e6e6), color-stop(100%, #bcbbbb));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #e6e6e6 11%, #bcbbbb 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #e6e6e6 11%, #bcbbbb 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #e6e6e6 11%, #bcbbbb 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #e6e6e6 11%, #bcbbbb 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6e6e6', endColorstr='#bcbbbb',GradientType=0 );
  /* IE6-9 */ }
  section#hero img#logo {
    width: 70%;
    margin: 0 15%; }
  section#hero #bgvid {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    background: url(polina.jpg) no-repeat;
    background-size: cover; }

section#team ul {
  margin: 0;
  padding: 0;
  list-style: none;
  margin-bottom: 20px; }
  section#team ul li {
    position: relative;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px 10px 10px 120px; }
    section#team ul li .profile {
      position: absolute;
      left: 0;
      width: 100px;
      border-radius: 50px;
      height: auto; }
    section#team ul li h4 {
      margin: 0; }

section#app {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  background: url(../img/bg/stressed_linen.png);
  max-width: 100%; }
  section#app p {
    color: white;
    margin-bottom: 30px; }
  section#app #appleStore,
  section#app #androidStore {
    height: 60px;
    margin: 0 20px 20px 0; }
  section#app img#screenshot {
    max-width: 50%;
    position: absolute;
    bottom: 0;
    max-height: 100%;
    right: 20px;
    z-index: 100000; }
  section#app .col1 {
    padding: 10% 0; }

section#game {
  background: white;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  padding: 40px;
  background-size: cover;
  /* Enables Responsive Video on iframe embeds */ }
  section#game .videoWrapper {
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-bottom: 20px; }
  section#game .videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
  section#game .cta {
    display: inline-block;
    width: 250px;
    text-align: center;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-weight: bold;
    background: #a9c322;
    border-radius: 5px; }

@media screen and (max-width: 1080px) {
  header {
    margin-bottom: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); }

  .hero p {
    font-size: 12px; }

  .outer_wrapper {
    border: none; }

  section .col1, section .col2 {
    padding: 0 20px; }

  section {
    padding: 20px; } }
@media screen and (max-width: 650px) {
  header h1,
  header nav#social,
  header nav#master {
    float: none;
    width: 100%;
    text-align: center; }
    header h1 a,
    header nav#social a,
    header nav#master a {
      float: none;
      width: 45px;
      height: 10px;
      margin: 0 10px; }
  header nav#social {
    padding-top: 7px;
    margin-bottom: 20px; }

  section .col1, section .col2 {
    padding: 0 10px; }

  section {
    padding: 10px; } }
