/**
 * Main.scss File
 * ---
 * Imports other partials.
 */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  background: #ECECEC;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
  font-size: 14px; }
  html p,
  body p {
    line-height: 1.6em;
    margin-bottom: 5px; }

.wrapper {
  max-width: 1080px;
  margin: 0 auto; }

.outer_wrapper {
  max-width: 1080px;
  margin: 0 auto;
  border: 1px solid rgba(0, 0, 0, 0.05); }

section .col1,
section .col2 {
  float: left;
  width: 50%;
  padding: 20px; }

section:after {
  content: "";
  display: block;
  clear: both; }

section#core {
  background: white;
  padding: 10px 20px; }
  section#core p {
    color: #8a8a8a; }
  section#core h3 {
    color: black;
    margin-top: 10px;
    font-size: 1.8em;
    font-weight: bold; }

section#team,
section#app,
section#contact,
section#game {
  padding: 30px; }

header {
  margin: 0;
  margin-bottom: 30px;
  position: relative;
  z-index: 10000;
  background: #1A1D1E;
  color: #CDDBD8;
  padding: 10px;
  -webkit-transition: margin 1s ease; }
  header nav {
    min-height: 40px; }
    header nav a {
      font-weight: bold;
      color: white;
      text-decoration: none;
      -webkit-transition: color 0.4s ease; }
    header nav a:hover {
      color: #a9c322; }
  header h1,
  header nav#master,
  header nav#social {
    float: left; }
  header h1 {
    line-height: 40px;
    font-weight: 400;
    width: 20%;
    margin: 0;
    color: white; }
  header #bird {
    position: absolute;
    left: 0; }
  header .highlight {
    color: #a9c322; }
  header nav#master {
    width: 40%; }
    header nav#master a {
      line-height: 40px;
      margin-right: 10px; }
    header nav#master a.active {
      color: #a9c322; }
  header nav#social {
    width: 40%;
    height: 40px; }
    header nav#social a {
      float: right;
      display: inline-block;
      width: 30px;
      margin-top: 5px;
      margin-left: 20px; }

header:after {
  content: "";
  display: block;
  clear: both; }

footer {
  text-align: center;
  padding: 10px;
  background: #1A1D1E; }
  footer p {
    margin: 0;
    font-size: 12px;
    color: #CDDBD8; }

section#team {
  background: rgba(255, 0, 0, 0.3); }
  section#team ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    section#team ul li {
      background: red;
      width: 50%;
      float: left; }
  section#team ul:after {
    content: "";
    display: none;
    clear: both; }

section#app p {
  margin-bottom: 30px; }
section#app #appleStore,
section#app #androidStore {
  height: 40px;
  margin-right: 20px; }
section#app img#screenshot {
  max-width: 100%;
  height: auto; }

section#game {
  background: rebeccapurple; }

section#contact {
  background: #1F2229;
  border-bottom: 1px solid rgba(0, 0, 0, 0.4); }
  section#contact form * {
    -webkit-appearance: none; }
  section#contact form label {
    font-weight: bold;
    margin-bottom: 5px;
    display: block; }
  section#contact form input,
  section#contact form textarea {
    border: 0;
    border-radius: 0px;
    margin-bottom: 10px;
    padding: 6px 5px;
    width: 100%;
    font-size: 16px;
    font-weight: bold; }
  section#contact form textarea {
    resize: vertical; }

.hero {
  background: #a9c322;
  position: relative;
  overflow: hidden;
  height: 400px;
  margin: 0; }
  .hero p {
    font-weight: bold; }
  .hero #col1 a {
    height: 100%; }
  .hero #col2 {
    right: 0; }
  .hero #col1,
  .hero #col2 {
    position: absolute;
    width: 50%;
    height: 100%; }
    .hero #col1 a,
    .hero #col2 a {
      overflow: hidden;
      display: block;
      text-decoration: none;
      color: white;
      -webkit-transition: all 1s ease; }
      .hero #col1 a h1,
      .hero #col2 a h1 {
        font-size: 2.5vh;
        margin: 0; }
  .hero #hero1,
  .hero #hero2,
  .hero #hero3 {
    padding: 10%;
    overflow: hidden;
    height: 100%; }
    .hero #hero1 p,
    .hero #hero2 p,
    .hero #hero3 p {
      line-height: 1.3em; }
  .hero #hero1 {
    background: url(../img/hybrid.png), black;
    background-position: center center;
    background-size: cover; }
  .hero #hero2 {
    background: url(../img/app.png), black;
    background-position: center center;
    background-size: cover; }
  .hero #hero3 {
    background: url(../img/kiwi.png), black;
    background-position: center center;
    background-size: cover; }
  .hero #hero2,
  .hero #hero3 {
    height: 50%;
    min-height: 200px; }
    .hero #hero2 h2,
    .hero #hero3 h2 {
      margin: 0; }

.hero:after {
  clear: both;
  content: "";
  display: block; }

@media screen and (max-width: 1080px) {
  header {
    margin-bottom: 0;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4); }

  .hero p {
    font-size: 12px; }

  .outer_wrapper {
    border: none; } }
@media screen and (max-width: 650px) {
  header h1,
  header nav#social,
  header nav#master {
    float: none;
    width: 100%;
    text-align: center; }
    header h1 a,
    header nav#social a,
    header nav#master a {
      float: none;
      width: 45px;
      height: 10px;
      margin: 0 10px; }
  header nav#social {
    border-top: 1px solid rgba(0, 0, 0, 0.5);
    padding-top: 7px;
    margin-bottom: 20px; }

  .hero {
    height: 600px; }
    .hero #col1,
    .hero #col2 {
      position: static;
      width: 100%;
      height: 200px; }
    .hero #hero1,
    .hero #hero2,
    .hero #hero3 {
      padding: 40px 20px 20px 20px;
      box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.1); }
      .hero #hero1 h1,
      .hero #hero2 h1,
      .hero #hero3 h1 {
        text-align: center; }

  section .col1,
  section .col2,
  section .col3 {
    float: none;
    width: 100%;
    padding: 10px; } }
