* {
  -webkit-font-smoothing: antialiased; }

body {
  font-size: 16px;
  line-height: 27px; }

h1 {
  font-size: 79px;
  line-height: 81px;
  margin-top: 54px;
  margin-bottom: 27px; }

h2 {
  font-size: 46px;
  line-height: 54px;
  margin-top: 54px;
  margin-bottom: 27px; }

h3 {
  font-size: 27px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 27px; }

h4 {
  font-size: 16px;
  line-height: 27px;
  margin-top: 27px;
  margin-bottom: 27px; }

p, ul, ol, pre, table, blockquote {
  margin-top: 27px;
  margin-bottom: 27px; }

hr {
  border: 1px solid;
  margin: -1px 0; }

ul ul, ol ol, ul ol, ol ul {
  margin-top: 0;
  margin-bottom: 0; }

b, strong, em, small, code {
  line-height: 1; }

sup, sub {
  vertical-align: baseline;
  position: relative;
  top: -0.4em; }

sub {
  top: 0.4em; }

.top-bar .name h1 a {
  color: #a9c322;
  font-weight: bold; }

ul.social {
  padding: 10px; }

.social {
  margin-left: -15px; }

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
  margin-bottom: 20px; }

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

#bgvid {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%; }

header {
  background: #333333; }

section.hero {
  background: url(../img/hero.jpg);
  background-position: center center;
  background-size: cover;
  color: white;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding: 15vh 0 0 0; }
  section.hero .splash p {
    background: url(../img/hero.jpg) repeat;
    -webkit-background-clip: text; }
  section.hero #logo {
    width: 100%;
    height: auto; }
  section.hero h2 {
    font-family: "futura-pt",sans-serif;
    text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.5);
    font-weight: 400;
    font-size: 72px;
    line-height: 1em;
    color: white; }

.highlight {
  color: #a9c322; }

section.app {
  background: #ECECEC; }

section.team h3 {
  font-weight: bold; }
section.team h3 {
  margin-bottom: 0; }
section.team p {
  font-size: 14px; }
section.team .row:not(:last-child) {
  margin-bottom: 20px; }
section.team .profile img {
  border-radius: 100px;
  box-shadow: 0px 1px 1px black; }

footer {
  background: #333;
  color: white; }
